{% extends 'base.html.twig' %}

{% block title %}Liste des étudiants{% endblock %}

{% block body %}
<div class="users">
    <h3>Barre de recherche</h3>
    <table>
        <tr>
            <th>Nom</th>
            <th>Date d'anniversaire</th>
            <th>Disponibilité</th>
            <th>Action</th>
        </tr>
            {% for student in students %}
            <tr>
                <td>{{ student.lastname|upper ~ ' ' ~ student.firstname}}</td>
                <td>{{ student.birthdate.format('Y-m-d H:i:s')}}</td>
                {% if student.formation == null %}
                    <td>Pas de formation</td>
                {% endif %}
                <td>Consulter / Modifier</td>
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock %}
