{% extends 'base.html.twig' %}

{% block title %}Hello MaterialController!{% endblock %}

{% block body %}


<div class="list_materials_content">
    {% for material in materials %}
        <div class="material_array">
            <p>{{material.name}}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}
