body {
    margin: 0;
    display: flex;
    flex-direction: row;
}

a{
    text-decoration: none;
    color: white;
}

nav{
    background-color: #33048e;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-size: 2vh;
    
}
nav li{
    list-style-type: none;

}

nav img{
    width: 80%;
    padding-top: 2.5vh;
    height: auto;
    display: flex;
    margin-bottom: 10vh;
    
}
header{
    width: 18%;
}
#nav-link{
    
}

tr:nth-child(odd) {
    background-color: #D6EEEE;
  }

th{
    background-color: #33048e;
}

nav a{
    display: flex;
    align-items: center;
    font-weight: bolder;
}
.overview span{
    width: 20%;
    height: auto;
    display: flex;
}

.overview{
    margin-bottom: 3vh;
}

.borrowing{
    margin-bottom: 3vh;    
}

.borrowing span{
    margin-right: 2vh;
}


nav p{
    color: white;
    font-weight: bolder;
    display: flex;
    align-items: center;
}

nav p span{
    margin-right: 2vh;
}