{% extends 'base.html.twig' %}

{% block title %}Ajouter un utilisateur{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Nouvel utilisateur</h1>
        <div class="row justify-content-center">
            <div class="col-md-5">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form) }}
                <button class="btn btn-primary" type="submit">Envoyer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}