<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
        {% block template %}
        <header>
            <nav>
                <img src="{{asset('/images/Logo_lamanu.svg')}}" alt="">
                <div class="link_nav" id="nav-link">
                    <div class="overview">
                        <a href="#"><i class="fa-solid fa-bars"></i>Vue d'ensemble</a>
                    <div class="borrowing">
                        <a href="#">Emprunter / Rendre</a>
                    </div>
                    <div class="material" id="nav-link">
                        <p onclick="">Matériel</p>
                        <a href="{{path('app_material')}}">Stock</a>
                        <a href="{{path('material_create')}}">Create</a>
                        <a href="#">Historique</a>
                    </div>
                    <div class="user" id="nav-link">
                        <p onclick="">Utilisateur</p>
                        <a href="#">Liste</a>
                        <a href="#">Ajout</a>
                    </div>
                </div>
            </nav>
        </header>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
